#!/usr/bin/env bash

######### FONTS #########
export monospace_font="Iosevka Nerd Font"
export san_serif_font="Product Sans"

######### COLORS #########
export foreground="#d4be98"
export background="#1d2021"

export black="#665c54"
export b_black="#928374"

export red="#ea6962"
export b_red="#ea6962"

export green="#a9b665"
export b_green="#a9b665"

export yellow="#e78a4e"
export b_yellow="#d8a657"

export blue="#7daea3"
export b_blue="#7daea3"

export magenta="#d3869b"
export b_magenta="#d3869b"

export cyan="#89b482"
export b_cyan="#89b482"

export white="#d4be98"
export b_white="#d4be98"

export overlay2="#7c6f64"
export overlay1="#928374"
export overlay0="#a89984"

export surface0="#32302f"

export base="#1d2021"
export mantle="#928374"
export crust="#665c54"
