#!/usr/bin/env bash

export kitty_opacity=0.6

export kitty_selection_foreground="#1d2021"
export kitty_selection_background="#d4be98"
export kitty_url_color="#d8a657"
export kitty_active_border_color="#d3869b"
export kitty_inactive_border_color="#141617"
export kitty_bell_border_color="#e78a4e"
export kitty_active_tab_forground="#d4be98"
export kitty_active_tab_background="#1d2021"
export kitty_inactive_tab_background="#1d2021"
export kitty_mark3_background="#a89984"
