#!/usr/bin/env bash

export kitty_opacity=0.8

export kitty_selection_foreground="#262626"
export kitty_selection_background="#f0f0f0"
export kitty_url_color="#c6a679"
export kitty_active_border_color="#ac8aac"
export kitty_inactive_border_color="#262626"
export kitty_bell_border_color="#aca98a"
export kitty_active_tab_forground="#262626"
export kitty_active_tab_background="#8aacab"
export kitty_inactive_tab_background="#4c4c4c"
export kitty_mark3_background="#8f8aac"
