#!/usr/bin/env bash

export monospace_font="Iosevka Nerd Font"
export wlogout_color="#e7e7e7"
export wlogout_background="rgba(15, 15, 15, 0.2)"
export wlogout_button_background="rgba(15, 15, 15, 0)"
export wlogout_button_background_hover="rgba(196, 158, 160, 0.1)"
export wlogout_button_background_focus="#c49ec4"
export wlogout_button_foreground_focus="#262626"
export wlogout_button_border_radius="2px"
