# Neovim
config/nvim/plugin

# Fish
config/fish/fish_variables
config/fish/fish_plugins

config/fish/completions/fisher.fish

config/fish/functions/__*
config/fish/functions/bass.fish
config/fish/functions/fisher.fish
