[init]
	defaultBranch = main
[author]
	name = Omar Eloui
	email = omareloui@hotmail.com
[user]
	name = Omar Eloui
	email = omareloui@hotmail.com
[url "https://github.com/"]
	insteadOf = git://github.com/
