# Neovim
config/nvim/plugin
config/nvim/spell/*.spl

# tmux
config/tmux/plugins

# Fish
config/fish/fish_variables
config/fish/fish_plugins

config/fish/completions/fisher.fish

config/fish/functions/__*
config/fish/functions/bass.fish
config/fish/functions/fisher.fish

# zk dbs
config/zk/notebook.db

# Lazy git
config/lazygit/state.yml

# MPD
config/mpd/*
!config/mpd/mpd.conf

# log files
*.log

# Zsh
config/zsh/.zcompdump

# # Theme files
# config/cava/config
# config/dunst/dunstrc
# config/eww/assets/launcher.png
# config/eww/css/_theme.scss
# config/eww/eww.yuck
# config/hypr/conf/theme.conf
# config/hypr/hyprpaper.conf
# config/kitty/theme.conf
# config/nvim/lua/omareloui/config/theme.lua
# config/nvim/lua/omareloui/plugins/lualine.lua
# config/nvim/lua/omareloui/ui/palette.lua
# config/wlogout/style.css
# themes/current.sh
