# Rule for when switching to battery
ACTION=="change", \
  SUBSYSTEM=="power_supply", \
  ATTR{type}=="Mains", \
  ATTR{online}=="0", \
  ENV{DISPLAY}=":0", \
  ENV{XDG_RUNTIME_DIR}="/run/user/1000" \
  RUN+="/usr/bin/su omareloui -c \"/home/omareloui/.local/bin/batplug disconnected\""

ACTION=="change", \
  SUBSYSTEM=="power_supply", \
  ATTR{type}=="Mains", \
  ATTR{online}=="1", \
  ENV{DISPLAY}=":0", \
  ENV{XDG_RUNTIME_DIR}="/run/user/1000" \
  RUN+="/usr/bin/su omareloui -c \"/home/omareloui/.local/bin/batplug connected\""
