$bar-border-radius:     10px;
$widgets-border-radius: 5px;

$font-family:  ProductSans;

$rosewater:    #d8a657;
$flamingo:     #ea6962;
$pink:         #d3869b;
$mauve:        #d3869b;
$dark-mauve:   #d3869b;
$red:          #ea6962;
$maroon:       #3c1f1e;
$peach:        #d8a657;
$yellow:       #e78a4e;
$green:        #a9b665;
$teal:         #89b482;
$sky:          #89b482;
$sapphire:     #7daea3;
$blue:         #7daea3;
$dark-blue:    #89b482;
$lavender:     #7daea3;
$white:        #d4be98;

$text:        #d4be98;
$subtext1:    #d4be98;
$subtext0:    #d4be98;
$overlay2:    #7c6f64;
$overlay1:    #928374;
$overlay0:    #a89984;

$surface2:    #928374;
$surface1:    #665c54;
$surface0:    #32302f;

$base:   #1d2021;
$mantle: #928374;
$crust:  #665c54;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$border: #32361a;
$shadow: $crust;
