$bar-border-radius:     12.5px;
$widgets-border-radius: 16px;

$font-family:  Product Sans;

$rosewater:    #F9E2AF;
$flamingo:     #F38BA8;
$pink:         #F5C2E7;
$mauve:        #F5C2E7;
$dark-mauve:   #F5C2E7;
$red:          #F38BA8;
$maroon:       #F38BA8;
$peach:        #F9E2AF;
$yellow:       #F9E2AF;
$green:        #A6E3A1;
$teal:         #94E2D5;
$sky:          #89B4FA;
$sapphire:     #89B4FA;
$blue:         #89B4FA;
$dark-blue:    #94E2D5;
$lavender:     #89B4FA;
$white:        #CDD6F4;

$text:        #CDD6F4;
$subtext1:    #BAC2DE;
$subtext0:    #A6ADC8;
$overlay2:    #9399b2;
$overlay1:    #7f849c;
$overlay0:    #6c7086;

$surface2:    #585B70;
$surface1:    #45475A;
$surface0:    #313244;

$base:   #141521;
$mantle: #181825;
$crust:  #11111b;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$border: #28283d;
$shadow: $crust;
