$bar-border-radius:     0px;
$widgets-border-radius: 5px;

$font-family:  Product Sans;

$rosewater:    #ceb188;
$flamingo:     #c49ea0;
$pink:         #ac8aac;
$mauve:        #ac8aac;
$dark-mauve:   #c49ec4;
$red:          #ac8a8c;
$maroon:       #ac8a8c;
$peach:        #c6a679;
$yellow:       #aca98a;
$green:        #8aac8b;
$teal:         #8aacab;
$sky:          #8a98ac;
$sapphire:     #8aacab;
$blue:         #8f8aac;
$dark-blue:    #8a98ac;
$lavender:     #a5b4cb;
$white:        #f0f0f0;

$text:        #f0f0f0;
$subtext1:    #e7e7e7;
$subtext0:    #f0f0f0;
$overlay2:    #767676;
$overlay1:    #a0a0a0;
$overlay0:    #bfbfbf;

$surface2:    #4c4c4c;
$surface1:    #262626;
$surface0:    #393939;

$base:   #0f0f0f;
$mantle: #191919;
$crust:  #262626;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$border: #4c4c4c;
$shadow: $crust;
