[Unit]
Description=Lock wayland session using swaylock for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/home/omareloui/.local/bin/lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
