# Rule for when switching to battery
ACTION=="change", \
  SUBSYSTEM=="power_supply", \
  ATTR{type}=="Mains", \
  ATTR{online}=="0", \
  ENV{DISPLAY}=":0", \
  ENV{XAUTHORITY}="/run/user/1000/gdm/Xauthority" \
  RUN+="/usr/bin/su omareloui -c \"/home/omareloui/scripts/battery/on_plug.sh 0\""

ACTION=="change", \
  SUBSYSTEM=="power_supply", \
  ATTR{type}=="Mains", \
  ATTR{online}=="1", \
  ENV{DISPLAY}=":0", \
  ENV{XAUTHORITY}="/run/user/1000/gdm/Xauthority" \
  RUN+="/usr/bin/su omareloui -c \"/home/omareloui/scripts/battery/on_plug.sh 1\""
