#!/usr/bin/env bash

export cava_file="[color]\ngradient = 1\ngradient_count = 8\ngradient_color_1 = '#94e2d5'\ngradient_color_2 = '#89dceb'\ngradient_color_3 = '#74c7ec'\ngradient_color_4 = '#89b4fa'\ngradient_color_5 = '#cba6f7'\ngradient_color_6 = '#f5c2e7'\ngradient_color_7 = '#eba0ac'\ngradient_color_8 = '#f38ba8'\n"
