#!/usr/bin/env bash

######### FONTS #########
export monospace_font="JetBrainsMono Nerd Font"
export san_serif_font="Product Sans"

######### COLORS #########
export foreground="#CDD6F4"
export background="#1E1E2E"

export black="#45475A"
export b_black="#585B70"

export red="#F38BA8"
export b_red="#F38BA8"

export green="#A6E3A1"
export b_green="#A6E3A1"

export yellow="#F9E2AF"
export b_yellow="#F9E2AF"

export blue="#89B4FA"
export b_blue="#89B4FA"

export magenta="#F5C2E7"
export b_magenta="#F5C2E7"

export cyan="#94E2D5"
export b_cyan="#94E2D5"

export white="#BAC2DE"
export b_white="#A6ADC8"

export overlay2="#9399b2"
export overlay1="#7f849c"
export overlay0="#6c7086"

export surface0="#313244"

export base="#141521"
export mantle="#181825"
export crust="#11111b"
