#!/usr/bin/env bash

export hyprland_gaps_in=10
export hyprland_gaps_out=20
export hyprland_border_size=2
export hyprland_active_border="rgba(89b4faee)"
export hyprland_inactive_border="rgba(6c7086aa)"

export hyprland_border_radius=10
export hyprland_has_blur="yes"
export hyprland_blur_size=3
export hyprland_blur_passes=3

export hyrpland_has_shadow="yes"
export hyrpland_shadow_range=4
export hyrpland_render_power=3
export hyrpland_shadow_color="rgba(1a1a1aee)"
