#!/usr/bin/env bash

export kitty_opacity=0.6

export kitty_selection_foreground="#1E1E2E"
export kitty_selection_background="#F5E0DC"
export kitty_url_color="#F5E0DC"
export kitty_active_border_color="#B4BEFE"
export kitty_inactive_border_color="#6C7086"
export kitty_bell_border_color="#F9E2AF"
export kitty_active_tab_forground="#11111B"
export kitty_active_tab_background="#CBA6F7"
export kitty_inactive_tab_background="#181825"
export kitty_mark3_background="#74C7EC"
