#!/usr/bin/env bash

export monospace_font="JetBrainsMono Nerd Font"
export wlogout_color="#cdd6f4"
export wlogout_background="rgba(30, 30, 46, 0.5)"
export wlogout_button_background="rgba(30, 30, 46, 0)"
export wlogout_button_background_hover="rgba(49, 50, 68, 0.1)"
export wlogout_button_background_focus="#cba6f7"
export wlogout_button_foreground_focus="#1e1e2e"
export wlogout_button_border_radius="30px"
