[init]
	defaultBranch = main
	; templatedir = ~/.config/git/templates/

[author]
	name = Omar Eloui
	email = contact@omareloui.com

[user]
	name = Omar Eloui
	email = contact@omareloui.com

[alias]
	uc = reset HEAD^ --soft
	uncommit = reset HEAD^ --soft

	l = log --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --graph --date=relative --decorate --all

[core]
	editor = nvim
	pager = delta --diff-so-fancy --line-numbers
	sshCommand = ssh -i ~/.ssh/id_rsa_github

[delta]
	side-by-side = true
