[init]
	defaultBranch = main
	templatedir = ~/.config/git/templates/

[author]
	name = Omar Eloui
	email = omareloui@hotmail.com

[user]
	name = Omar Eloui
	email = omareloui@hotmail.com

[alias]
	uc = reset HEAD^ --soft
	uncommit = reset HEAD^ --soft

  l = log --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --graph --date=relative --decorate --all

[hub]
  protocol = https

[url "https://github.com/"]
	insteadOf = git://github.com/

[github]
	user = omareloui
